<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta
      name="Description"
      content="George is a designer, engineer and writer."
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#373737" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon.png"
    />
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
  </head>
  <body>
    <div class="content">
      <header>
        <img class="logo" src="/assets/logo.svg" role="presentation" alt="" />
        <h1>George Treviranus</h1>
        <p>Engineer & Designer</p>
        <p>Oregon, USA</p>
      </header>

      <main>{{ content }}</main>
    </div>
  </body>
</html>
